# claudeCode_Skel
Issue.md
noteForHuman.md
_doc_work/
_doc_design/


# VSCode
.history
*.local.vscode/

# agent
.claude/
CLAUDE.md
wiki/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

